# Ignore data folder (so CSVs won't be uploaded)
src/data/

# macOS system files
.DS_Store

# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
